<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconhome"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoAppNhaTro"
        tools:targetApi="31">
        <activity
            android:name=".ThongTinHoaDonActivity"
            android:exported="false" />
        <activity
            android:name=".ThongTinHopDongActivity"
            android:exported="false" />
        <activity
            android:name=".RoleNguoiDungActivity"
            android:exported="false" />
        <activity
            android:name=".AddPhongActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HopDongActivity"
            android:exported="false" />
        <activity
            android:name=".NguoiThueActivity"
            android:exported="false" />
        <activity
            android:name=".NguoiThueChiTietActivity"
            android:exported="false" />
        <activity
            android:name=".SoNoActivity"
            android:exported="false" />
        <activity
            android:name=".SuCoActivity"
            android:exported="false" />
        <activity
            android:name=".ChinhSuaNguoiThueActivity"
            android:exported="false" />
        <activity
            android:name=".TienCocActivity"
            android:exported="false" />
        <activity
            android:name=".PhongChiTietActivity"
            android:exported="false" />
        <activity
            android:name=".BillActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassActivity"
            android:label="Forgot Password" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>